.navbar {
    width: 100%;
    height: 64px;
    padding: 0 50px;
    font-family: "Poppins";
    position: fixed;

}

.btn-div {
    gap: 15px;
}

.login-btn {
    width: 82px;
    height: 36px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-family: "Poppins";

}


.logo {
    height: 50px;
    width: 50px;
}

.logo-text {
    padding: 17px 0;
    font-size: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}