.footer{
    margin:0px 50px;
    border-top: 1px solid black;
}

.footer-text{
    height: 48px;
    width: 386px;
    
}

.right-footer{
    gap:25px;
    padding-top: 20px;
}

.left-footer{
    gap:20px;
    padding-top: 20px;

}

.title{
    width: 175px;
    font-size: 16px;

}