.landing{
    padding-top:60px;
}

.landing>h1{
    font-size: 64px;
}
.landing>h3{
    text-align: center;
    width: 720px;
    padding: 25px;
    font-size: 20px;
}

.new-trip-btn{
    background: #2596BE;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 20px;
    gap:5px;
}

.second{
    padding-top: 75px;
    gap:45px;
}


.third{
    padding-top: 145px;
    gap:35px;
}


.third>.flex>p{
    width: 730px;
    text-align: center;
    font-size: 18px;
}

.containers{
    gap: 30px;
}
.container{
    border-style: solid ;
    border-width: 1px;
    border-radius: 15px;
    padding: 15px;
    width: 370px;
    height: 220px;
}
.container>p{
    width:100%;
    padding-top: 15px;
}
.container>.flex{
    gap:15px;
}
.container>.flex>img{
    width: 80px;
    height: 80px;
}

.container>.flex>h2{
    width: 220px;
}

.card{
    flex:1;
}
.card>.flex>img{
    height: 235px;
    width: 235px;
}
.cards{
    padding-left: 50px;
    padding-right: 50px;
}
