.landing{
    padding-top:60px;
}

h1{
    font-size: 64px;
}
h3{
    text-align: center;
    width: 720px;
    padding: 25px;
    font-size: 20px;
}


.second > .flex{
    width: 530;
    height: 440;
}

span{
    width: 100%;
    text-align: left;
}

.sub{
    text-align: left;
}

.third{
    padding-top: 145px;
    gap:35px;
}
.third>.flex>h2{
    font-size: 48px;
}

.third>.flex>p{
    width: 730px;
    text-align: center;
    font-size: 18px;
}

.containers{
    gap: 30px;
}
.container{
    border-style: solid ;
    border-width: 1px;
    border-radius: 15px;
    padding: 15px 25px;
}
.container>p{
    width:350px;
}
.container>.flex{
    gap:15px;
}
.container>.flex>img{
    width: 80px;
    height: 80px;
}

.container>.flex>h2{
    width: 220px;
}